venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
instance/
app/static/uploads/logos/*
app/static/uploads/photos/*
!app/static/uploads/logos/.gitkeep
!app/static/uploads/photos/.gitkeep
.env
*.egg-info/
dist/
build/
.DS_Store
Thumbs.db
migrations/
doc_images/
doc_images_temp/
software_text.txt
Software.docx
